
<app-menu></app-menu>
<br><br>
<div class="container">
  <div class=" text-center mt-5 ">
    <h1> Liste des étapes </h1>
  </div>
  <div class="search-hero">      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Chercher une etape">

  </div>
  <table class="table table-striped Primary" >
    <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col"> Ajouter</th>
      <th scope="col"> Modifier</th>
      <th scope="col"> Supprimer</th>

    </tr>
    </thead>
    <tbody *ngFor="let step of steps|filter:searchText">
    <tr>
      <td>{{step.titleStep}}</td>
      <td>
        <Button class="btn btn-outline-success" (click)="addStep(step)">Ajouter</Button>
      </td>
      <td>
        <Button class="btn btn-outline-info" (click)="modifyStep(step)">Modifier</Button>
        </td>
      <td>
        <Button class="btn btn-outline-danger" (click)="removeStep(step)">Supprimer</Button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class=" text-center  ">
    <a routerLink="/AjouterEtape/{{id}}" class="btn btn-outline-secondary">Ajouter une étape</a>
    <a routerLink="/ListeRecettes" class="btn btn-outline-secondary">Fin</a>
  </div>
</div>

