<br>
<br>

<div class="container">
  <div class=" text-center mt-5 ">
    <h1> Responsable(s) / Chef(s) </h1>
  </div>
  <table class="table table-striped Primary">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom </th>
      <th scope="col">Prenom</th>
      <th scope="col"> Role</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Redjemi</td>
      <td>Ouissem</td>
      <td>Chef algerienne</td>
      <td><Button> Modifier </Button></td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Kesbi</td>
      <td>Souhaila</td>
      <td>Chef marocaine </td>

      <td><Button> Modifier </Button></td>
    </tr>

    </tbody>
  </table>

  <div class=" text-center  ">
    <a routerLink="/AjouterChef" class="btn btn-sm btn-light pull-left">Ajouter un Chef </a>

  </div>
</div>
