<app-menu></app-menu>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col">
          <div>Intitulé: Tarte aux fraises</div>
        </div>
        <div class="col">
          <div>Responsable: Souhaila</div>
        </div>
        <div class="col">
          <div>Nombre de couverts: 2</div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">Ingrédients</div>
            <div class="panel-body">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Unité</th>
                  <th scope="col">Quantité</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Element de base:</th>
                </tr>
                <tr>
                  <th scope="row">Citron</th>
                  <td>Kg</td>
                  <td>3</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4">
            <button class="btn btn-success" routerLink="/Ingredients/AjouterIngredient" type="submit">Ajouter un
              Ingrédient
            </button>
          </div>
        </div>
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">Etapes</div>
            <div class="panel-body">
              <div class="col">
                <dl>
                  <dt>Pate brisée</dt>
                  <dd>Mélanger tous les ingrédients secs</dd>
                  <dt>Crème citron</dt>
                  <dd>Battre sur feu doux les oeufs avec le jus de citron.Il faut rajouter une petite cuillère de
                    maizena pour l'épaississement
                  </dd>
                  <dt>Meringue</dt>
                  <dd>Monter les blanc en neige avec sucre</dd>
                  <dt>Pochage</dt>
                  <dd>A l'aide d'une poche à douille, ....</dd>
                </dl>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" routerLink="/ListeRecettes/AjouterRecette/AjouterEtape" type="submit">
                  Ajouter une étape
                </button>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">Matériels Dressages</div>
            <div class="panel-body">
              <ol>
                <li>None</li>
              </ol>
              <div class="col-md-4">
                <button class="btn btn-primary" routerLink="#" type="submit">Ajouter</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">Matériels spécifiques</div>
            <div class="panel-body">
              <ol>
                <li>Poche à douille</li>
                <li> Douilles</li>
              </ol>
              <div class="col-md-4">
                <button class="btn btn-primary" routerLink="#" type="submit">Ajouter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" routerLink="/ListeRecettes/Fiches" type="submit">Fin</button>
        </div>

      </div>
    </div>
  </div>
</div>


