<style href="creer-fiche.component.css"> </style>

<div style="text-align:center">
<form action="" method="">
  <div>
    <label for="name">Nom de la recette :</label>
    <input type="text" id="name" name="user_name">
  </div>
  <div>
    <label>Catégorie:</label>
    <select class="form-select" aria-label="Default select example">

      <option value="1">Entrée</option>
      <option value="2">Plat</option>
      <option value="3">Dessert</option>
    </select>

  </div>
  <div>
    <label>Couvert :</label>
    <input type="text" name="user_name">
  </div>

  <div>
    <label >Responsable :</label>
    <select class="form-select" aria-label="Default select example">

      <option value="1">Ouissem</option>
      <option value="2">Souhaila</option>

    </select>
  </div>

  <div>
    <label>Materiel de Dressage</label>
    <input type="text"  name="user_name">
  </div>

  <div>
    <label>Materiel Specifique</label>
    <input type="text"  name="user_name">
  </div>
</form>
</div>

