<div class="overlay">
  <form (ngSubmit)="onSubmitLoginForm()" [formGroup]="_loginForm">
    <div class="con ">
      <header class="head-form">
        <h2>Connexion</h2>
        <p>Connecter vous avec votre email et mot de passe</p>
      </header>
      <br>
      <div class="form-group">
        <label for="email"> Email </label>
        <p></p>
        <input class="form-input" formControlName="email" id="email" name="email" placeholder="email" type="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <p></p>
        <input class="form-input" formControlName="password" id="password" name="password"
               placeholder="Minimum 6 caractères" type="password">
      </div>
      <button [disabled]="_loginForm.invalid" class="log-in" type="submit"> Log In</button>
      <div class="other">
        <button class="btn submits frgt-pass">Forgot Password</button>
        <button class="btn submits sign-up">Sign Up
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>
