<style href="creer-etape.component.css"> </style>

<div style="text-align:center">
  <form action="" method="">
    <div>
      <label for="name"> :</label>
      <input type="text" id="name" name="user_name">
    </div>
    <div>
      <label>:</label>
      <select class="form-select" aria-label="Default select example">

        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
      </select>

    </div>
    <div>
      <label> :</label>
      <input type="text" name="user_name">
    </div>

    <div>
      <label > :</label>
      <select class="form-select" aria-label="Default select example">

        <option value="1"></option>
        <option value="2"></option>

      </select>
    </div>

    <div>
      <label></label>
      <input type="text"  name="user_name">
    </div>

    <div>
      <label></label>
      <input type="text"  name="user_name">
    </div>
  </form>
</div>

