<br>
<app-menu></app-menu>

<div class="container">
  <div class=" text-center mt-5 ">
  <h1>Ajouter une étape</h1>
  </div>
  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form id="contact-form" role="form" [formGroup]="stepForm"  novalidate >
              <div class="controls">
                <div class="row">

                    <div class="form-group">
                      <label>Titre</label>
                      <input type="text"
                             formControlName="titleStep"
                             class="form-control"
                             placeholder="Titre"
                             required="required"
                             data-error="Title is required.">
                    </div>

                </div>
                <div class="row">
                    <div class="form-group">
                      <label>Durée</label>
                      <input type="number"
                             formControlName="time"
                             class="form-control"
                             required="required"
                             placeholder="Durée de l'étape"
                             data-error="Time is required.">
                    </div>
                  </div>
                <div class="row">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control"
                                formControlName="description"
                                placeholder="Description de l'étape"
                                rows="3"
                                required="required"
                                data-error="Description is required.">
                      </textarea>
                    </div>
                  </div>
                <div class="row">

                  <div class="col-md-6">

                    <div class="select" >
                      <label>Ingredient </label>
                      <select class="form-control" type=Ingredients  formControlName="ingredient_stock" >

                        <option value="" >-----Choisir un ingredient-----</option>
                        <option  *ngFor="let ingredient of ingredients"  [ngValue]="ingredient"   >{{ingredient.libelle}}</option>

                      </select>


                    </div>
                  </div>
                </div>
                <!--
                              <div class="row">
                                <div class="form-group">
                                  <label>Ingrédients : </label>
                                  <br>

                                  <button type="button" (click)="addInput()">Ajouter</button> changelent sou
                  </div>
                  <div formArrayName="listIngredient" *ngFor="let ingr of listIngredient.controls; let i =index;">
                    <div class="form-row" [formGroupName]="i" >
                      <div class="form-group col">

                    <label>Ingredient</label>
                    <select class="form-control" formControlName="ingredient">
                       <option>Choisir un ingrédient</option>
                       <option *ngFor="let ingredient of ingredients">{{ingredient.libelle}}</option>
                     </select>


                   </div>

                        <div class="select" >
                          <label>Ingredient </label>
                          <select class="form-control" type=Ingredients  formControlName="ingredient_stock" >

                            <option value="" >-----Choisir un ingredient-----</option>
                            <option  *ngFor="let ingredient of ingredients"  [ngValue]="ingredient">{{ingredient.libelle}}</option>

                          </select>


                        </div>
                      <div class="form-group col">
                        <label>Quantité</label>
                        <input type="number"
                               formControlName="quantite"
                               class="form-control"
                               required="required"
                               placeholder="Quantité de l'ingrédient"
                               data-error="Quantité requise">
                      </div>
                      <div class="form-group col">
                        <label>Unité</label>
                        <select class="form-control" formControlName="unite">
                          <option>Choisir une unité</option>
                          <option *ngFor="let ingredient of ingredients">{{ingredient.unite}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>
                -->
                <p></p>
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-success" type="submit"  [disabled]="!stepForm.valid" (click)="onSubmitStep()">
                      Ajouter une étape
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-success" type="submit" (click)="onSubmit()" >Fin</button>
                  </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div> <!-- /.8 -->
    </div> <!-- /.row-->
  </div>
</div>


