<app-menu></app-menu>
<br><br>
<div class="container">
  <div class=" text-center mt-5 ">
    <h1> Liste des ingrédients  </h1>
  </div>

  <table class="table">

      <tr>

        <th scope="col">Code</th>
        <th scope="col">Libelle</th>
        <th scope="col">Unite</th>
        <th scope="col">Prix Unitaire</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Actions</th>
      </tr>

    <tbody>
    <tr *ngFor="let ingredient of Ingredients; let i = index">
      <td>{{ingredient.code}}</td>
      <td>{{ingredient.libelle}}</td>
      <td>{{ingredient.unite}}</td>
      <td>{{ingredient.prix_unitaire}}</td>
      <td>{{ingredient.categorie}}</td>
      <td>
        <span (click)="removeIngredients(ingredient)" class="btn btn-danger">Supprimer</span>&nbsp;
        <span [routerLink]="['/ModifierIngredient/',ingredient.id]" class="btn btn-primary">Modifier</span>
        <input type="checkbox" (click)="addIngredient(ingredient)" class="btn btn-success" (change)="visible($event)">
        <label>
          <span *ngIf="marked">
            <div class="form-group col">
                        <label>Quantité</label>
                        <input type="number"
                               formControlName="quantite"
                               class="form-control"
                               required="required"
                               placeholder="Quantité de l'ingrédient"
                               data-error="Quantité requise">
                      </div>
          </span>
          <span *ngIf="!marked">No ! </span>
        </label>
      </td>
    </tr>
    </tbody>
  </table>

    <div class=" text-center  ">
      <button class="btn btn-success" type="submit" routerLink="/AjouterIngredient" >Ajouter un ingrédient</button>
      <button class="btn btn-success" type="submit" routerLink="/ListeEtapes/{{this.id}}" >Fin</button></div>

</div>

