
<app-menu></app-menu>
<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">

    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <div class="title-h1 text-center"><span><span class="light"> </span> </span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing-price">
                <div class="pricing-cost"></div>
                <div class="time"></div>
              </div>
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Tarte au citron</div>
          </div>
          <figure class="pricing-row">Responsable : Ouissem Redjemi</figure>
          <figure class="pricing-row"><span>35 min </span></figure>
          <figure class="pricing-row ">Coût : 5 €</figure>
          <figure class="pricing-row ">Nombre de couverts : 5 </figure>


          <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center"><a href="#" class="gem-button gem-green"> Selectionner</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing-price">
                <div class="pricing-cost"></div>
                <div class="time"></div>
              </div>
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Couscous</div>
          </div>
          <figure class="pricing-row">Responsable : Kesbi Souhaila</figure>
          <figure class="pricing-row "> 50 min </figure>
          <figure class="pricing-row ">Coût : 10€ </figure>
          <figure class="pricing-row ">Nombre de couverts : 10 </figure>
          <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-purpel">Selectionner</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing-price">
                <div class="pricing-cost"></div>
                <div class="time"></div>
              </div>
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Mojito</div>
          </div>
          <figure class="pricing-row">Responsable : AHLAL Zahra</figure>
          <figure class="pricing-row"><span> 100 min</span></figure>
          <figure class="pricing-row"><span>Coût : 3€ </span></figure>
          <figure class="pricing-row"> Nombre de couverts : 2 </figure>
          <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center">
              <a class="gem-button gem-orange">Selectionner</a>
              <a class="gem-button gem-orange">Supprimer</a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

