<img src="../logo/logo.png">
<p> ICI ON MET UN MENU </p>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Intité</th>
    <th>Nombre de couverts </th>
    <th>Responsable </th>
    <th>Actions</th>

  </tr>
  </thead>
  <tr>
    <td>1</td>
    <td>Tarte au citron</td>
    <td>2</td>
    <td>Chef thomas</td>
    <td> <button> Voir details</button> <button> Supprimer </button> <button> Voir etiquette </button></td>
  </tr>

</table>
<div>  <input type="button" href="http:/creer-fiche/creer-fiche.component.html" value="Ajouter recette">  </div>


