<app-menu></app-menu>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container" *ngIf="fiche!=null" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col">
          <div>Intitulé: {{fiche.title}}</div>
        </div>
        <div class="col">
          <div>Responsable: {{fiche.responsable}}</div>
        </div>
        <div class="col">
          <div>Nombre de couverts: {{fiche.nbCouverts}}</div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">Ingrédients</div>
            <div class="panel-body" *ngFor="let step of fiche.listeStep;let i= index">
              <table class="table" >
                <thead>
                <tr >
                  <th scope="col">Nom</th>
                  <th scope="col">Unité</th>
                  <th scope="col">Quantité</th>
                </tr>
                </thead>
                <tbody *ngFor="let ingredient of step.listIngredient; ">
                <tr>
                  <th scope="row">Element de base:</th>
                </tr>
                <tr *ngFor="let quant of step.listQuantite;">
                  <th scope="row">{{ingredient.libelle}}</th>
                  <td>{{ingredient.unite}}</td>
                  <td>{{quant}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">Etapes</div>
            <div class="panel-body" *ngFor="let step of fiche.listeStep">
              <div class="col">
                <dl>
                  <dt>{{step.titleStep}}</dt>
                  <dt>Durée: {{step.time}}</dt>
                  <dd>{{step.description}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">Matériels Dressages</div>
            <div class="panel-body">
              <ol>
                <li>{{fiche.materielDressage}}</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="panel panel-info">
            <div class="panel-heading">Matériels spécifiques</div>
            <div class="panel-body">
              <ol>
                <li>{{fiche.materielSpecifique}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row doNotPrint" >
        <div class="col-md-3" >
          <button class="btn btn-primary" (click)="modifyFiche()" type="submit">Modifier
          </button>
        </div>
        <div class="col-md-3" >
          <button class="btn btn-info" type="submit" (click)="print()">Imprimer</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-danger" (click)="deleteFiche()" type="submit" >Supprimer</button>
        </div>
        <div class="col-md-3" >
          <button class="btn btn-secondary" (click)="addPrice()" type="submit">Ajouter Coûts</button>
        </div>
      </div>
    </div>
  </div>
</div>

